<div>
    <div>
        <p class='title'>The build process</p>
    </div>

    <div class='text'>
        <p>When I had the idea to make a django app, I didn't think it was possible to get a grasp of tecnologies
            involved
            in less than three months.</p>

        <p>Django framework? CSS? It was all overwhelming at the beginning for someone without a background in neither
            computer science nor Design (even though I had some pratical experience in image editing). Even so I jumped
            in
            nevertheless because for me, the biggest obstacle was trying to overcome my tendency to do everything
            perfectly.
            It might sound good for some people, but it actually hinders your projects because it is never 'ready for
            use' and there is always something to fix or improve. The result is, that nothing is really accomplished.
        </p>

        <p>All in all, It was a tough process but here it is. It's not pretty but it is ready</p>

    </div>

    <div class='text-itens'>
        <p class='title'>Things I've learned in the process:</p>



        <ul>
            <ui>Design is hard. Much harder than I though.</ui>
            <br>
            <p></p>
            <ui>"Design for mobile first" - Didn't hear about this until late in the project and because of
                that, it looks ugly and broken in those devices.
            </ui>
            <br>
            <p></p>

            <ui>Simple is better. Focusing on one or two features at a time works better than trying to implement
                several at the same time.</ui>
            <br>
            <p></p>
            <ui>Understanding how something works as a whole helps to build the foundations faster then learning every
                little detail. Learning quircks can be fun (and helps sometimes) but focusing entirely on it is bad.
            </ui>
            <br>
            <p></p>
            <ui>
                Even if the focus of a project is design, having a good understading of the underlying programming
                language that framework was built on is essential.
            </ui>
            <p></p>

        </ul>
    </div>
</div>


<style>
    .title {
        font-size: 20px;
        font-weight: 700;
    }


    div.text {
        text-align: justify;
        color: rgb(241, 241, 241);
        font-size: 20px;
        padding: 10px;
        margin: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
        text-align: justify;
        color: rgb(241, 241, 241);
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    }

    ul {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        color: rgb(241, 241, 241);
        font-size: 20px;
        padding-left: 30px;
        margin: 30px;
    }
</style>